<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4 ">
                
                    <div class="card-body">
                        <h1 class="bg-primary text">Add users</h1>
                        <form method="post" action="/add" enctype="multipart/form-data" id="add-form">
                            <div class="mb-3">
                                <input type="text" name="name" class="form-control" placeholder="Name"> <br>
                                <input type="email" name="userEmail" class="form-control" placeholder="Email"> <br>
                                <input type="number" name="phone" class="form-control" placeholder="Phone"> <br>
                                <input type="file" class="form-control" name="image"><br>
                                <button type="submit" class="btn btn-primary mt-2 form-control" >Add User</button>
                          </form>
                    </div>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>
